<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <mappers>  
        <mapper resource="com/feja/blog/mapping/ArticleMapper.xml"/>
        <mapper resource="com/feja/blog/mapping/ArticleTypeMapper.xml"/>
        <mapper resource="com/feja/blog/mapping/ConfigMapper.xml"/>
        <mapper resource="com/feja/blog/mapping/RecommendMapper.xml"/>
        <mapper resource="com/feja/blog/mapping/TypeMapper.xml"/>
    </mappers>  
</configuration>